<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgnWKsu8Yi-V8eJMDcY7WLT5hFDn2vL8s</string>
	<key>GCM_SENDER_ID</key>
	<string>784277942488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.calcript</string>
	<key>PROJECT_ID</key>
	<string>calcript-78305</string>
	<key>STORAGE_BUCKET</key>
	<string>calcript-78305.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784277942488:ios:d10ba0f44a0dbac68be7ad</string>
</dict>
</plist>